.access {
    margin-top: 142px;
    position: relative;

    &__card {

        border-radius: 8px;
        background-color: $primaryBlue4;
        padding: 25px;
        // padding-inline: 25px;
        position: absolute;
        top: -100px;
        @include breakpoint-up(large) {
            margin-inline: 149px;
            padding-inline: 72px;

        }

        h1 {
            text-align: center;
            font-size: 18px;
            // color: green;
        }

        p {
            text-align: center;
            margin-bottom: 32px;
        }

        &-body {
            display: flex;
            flex-direction: column;
            @include breakpoint-up(large) {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }


            &-input {
                padding-left: 27px;
                border-radius: 30px;
                background-color: $white;
                input[type='text'] {
                    width: 100%;
                    padding-block: 18px;
                    background-color: transparent;
                    border: none;
                }
                @include breakpoint-up(large) {
                    margin-top: 0;
                    width: 65%;
                }
            }

            &-btn {
                margin-top: 27px;

                @include breakpoint-up(large) {
                    margin-top: 0;
                    width: 30%;
                }
                button {
                    border-radius: 30px;
                    border: none;
                    width: 100%;
                    padding-block: 18px;
                    background-color: $accentCyan;
                    color: $white;
                }
            }
        }
    }
}