$white: #ffffff;
$black: #000000;
$dkGray: #303030;
$ltGray: #cecece;

// Primary

$primaryBlue: hsl(217, 28%, 15%);
$primaryBlue2: hsl(218, 28%, 13%);
$primaryBlue3: hsl(216, 53%, 9%);
$primaryBlue4: hsl(219, 30%, 18%);

// Accent
$accentCyan: hsl(176, 68%, 64%);
$accentBlue: hsl(198, 60%, 50%);
$accentRed: hsl(0, 100%, 63%);

